button {
  background-color: #F1F1F1;
  border: 0;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 200;
  height: 40px;
  outline: none;
  width: 200px;
}

button:focus {
  outline: none;
}
