button {
  background-color: #f1f1f1;
  border: 0;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 200;
  height: 40px;
  outline: none;
  width: 200px;
}

button:focus {
  outline: none;
}

.toggle-switch {
  display: inline;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spinner-div {
  height: 100%;
}

.spinner {
  display: flex;
  position: fixed;
  top: 50vh;
}

.spinner::before {
  animation: 2s linear infinite spinner;
  border: solid 3px #efefef;
  border-bottom-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  content: "";
  height: 30px;
  /* opacity: inherit; */
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 30px;
}
