.light-ui-container {
  align-items: center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 15px;
  flex-direction: column;
  font-weight: 100;
  min-height: max-content;
  padding: 30px;
  text-align: center;
  width: 300px;
}

.light-name {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 20px;
}

.error {
  color: red;
  font-size: 0.75rem;
  font-weight: 500;
  padding-top: 10px;
}
