.light-ui-container {
  align-items: center;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.error {
  font-size: 0.75rem;
  color: red;
}
